<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Converter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>RCC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18B8C69A241D40EC0057858C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B8C6B0241D40EE0057858C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B8C6D0241D93200057858C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E4838F241E8FD300062135</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E483B1241E8FDD00062135</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
